$bulmaswatch-import-font: false;

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,400i,600,700&display=swap');
@import 'bulmaswatch/lux/bulmaswatch';

.profile {
  .image {
    margin: auto;
  }
}

.summary,
.experience,
.education,
.skills,
.miscellany {
  padding-bottom: 2rem;
}

.experience,
.education {
  .item:not(:last-child) {
    padding-bottom: 1rem;
  }
}
